*{
    font-family: Work Sans;
    align-items: center;
}

.header{
    width: 1600px;
    height: 808px;
}

.background-text1{
	position: absolute;
	padding-left: 845px;
    padding-right: 400px;
}

.text1{
	margin-top: 216px;
	font-size: 65px;
	font-weight: 700;
}

.text-description1{
	font-size: 16px;
	font-weight: 400;
}

.input{
    margin-top: 24px;
	width: 160px;
	height: 64px;
	text-align: center;
	background-color: orangered;
	color: #fff;
	border: none;
} 

nav{
    justify-content: right;
    margin: 0 230px;
}

.head-title{
font-size: 65px;
font-weight: 700;
line-height: 76px;
text-align: right;
padding-left: 645px;
}

.head-description{
    text-align: right;
    font-weight: 400;
    font-size: 16px;
}
input.btn-primary{
    float: right;
}

.btn-primary {
    height: 64px;
    width: 160px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
}

.section {
    display: flex;
    width: 1600px;
}

.profile {
    font-weight: 700;
    font-size: 40px;
    margin-top: 200px;
    margin-right: 30px;
    justify-content: right;
    text-align: left;
    padding-left: 50px;
    padding-right: 322px;
}
.profile-head{
    margin-top: -230px;
    padding-left: ;
}

.profile-picture{
    margin-left: 206px;
}

.profile-size{
    padding-left: 322px;
}

.profile-description{
    
    font-weight: 400;
    font-size: 16px;
    
}

.options {
    font-weight: 400;
    font-size: 16px;
}

.section-title{
    width: 1141px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 711px;
    margin-top: 130px;
}

.section-plan{
    display: flex;
    width: 1140px;
    justify-content: space-around;
    text-align: center;
    padding-left: 230px;
}
.background-image{
    position: relative;
}

#parent{
	position: relative;
}

.gradient2{
	position: absolute;
	top: 0;
	left: 0;
}

.background-image img{
    background-image: url(../assignment-1/new-year-new-me-main/images/gradient2.png);
    background-size: contain;
	background-repeat: no-repeat;
    width: 1140px;
    padding-left: 230px;
    margin-top: 130px;
}

.background-text{
    position: absolute;
    top: 100px;
    padding-left: 294px;
    padding-right: 847px;
    justify-content: right;
}

.background-style{
    margin-top: 59px;
    padding-right: 847px;
}

.background-title{
    margin-top: 59px;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding-right: 230px;
}

.button2{
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    color: orangered;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}




.future{
    display: flex;
    background-color: #151414;
    justify-content: space-between;
    width: 1600px;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #fff;
}
.future-email{
    border: none;
    border-radius: 5px;
}

.future-submit{
    padding-right: 229px;
}

.future-details{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.future-description{
    margin-top: 130px;
    margin-bottom: 130px;
    padding-left: 230px;
    padding-right: 500px;
    text-align: left;
}

.future-title{
    display: flex;
}

.plan-title{
    color: #fff;
}

.sub-email{
    width: 325px;
    height: 64px;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color: #151414;
}

.future-subscribe{
    margin-top: 30px;
    width: 160px;
    height: 64px;
    color: orangered;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}