*{
    font-family: Work Sans;
}

.header{
        background-image: url('assignment-1\new-year-new-me-main\images\banner1.png');
        width: 1600px;
        background-repeat: no-repeat;
        }

nav{
    justify-content: right;
    margin: 0 230px;
}

.head-title{
font-size: 65px;
font-weight: 700;
line-height: 76px;
text-align: right;
padding-left: 645px;
}

nav.container-head{
    margin-top: 216px;
    margin: 216px;
}

.head-description{
    text-align: right;
    font-weight: 400;
    font-size: 16px;
}
input.btn-primary{
    float: right;
}

.btn-primary {
    height: 64px;
    width: 160px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    justify-content: right;
    justify-items: right;
}

.section {
    display: flex;
}

.profile {
    font-weight: 700;
    font-size: 40px;
    margin-top: 200px;
    margin-right: 30px;
    justify-content: right;
    text-align: left;
    padding-left: 50px;
}
.profile-picture{
    margin-left: 206px;
}

.profile-description{
    
    font-weight: 400;
    font-size: 16px;
    
}

.options {
    font-weight: 400;
    font-size: 16px;
}

.section-title{
    width: 1141px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 711px;
}

.section-plan{
    display: flex;
    justify-content: space-around;
    width: 1141px;
    padding-left: 230px;
    padding-right: 229px;
}